.footer-container {
  display: flex;
  top: 0%;
}
.footer-list {
  display: flex;
  gap: 40px;
  padding: 0px 10px;
}
.footer-list > p {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 300;
}
